<videoserver-config>
  <proxy host="proxy.ivideon.com" port="443"/>

<general uin="10081603570388" password="1xzZDo8654$FhdsS1bn" email="email@gmail.com" serverName="InDocker" useHttpProxy="false" httpProxyUrl="" logFile="" localView="true" localProxyPort="" localStreamerPort="8080" localPassword="123456" passwordReset="True"  />
  <archive path="/SHARE/video_archive" sizeLimit="900000" sizeToCleanup="600" units="M" continuous="false"/>
  <cameras last_id="1">
    <camera video_url_username="" name="Street" video_url_port="" url="rtsp://video:video@192.168.100.11/axis-media/media.amp?streamprofile=Quality" 
            model="" video_url_password="" id="1" video_url_host="" manufacturer="" video_url_channel=""/>
  </cameras>
</videoserver-config>
