{
   "account" : {
      "password" : "YZPA43234gC",
      "uin" : 100013255672
   },
   "archive" : {
      "maxEventLogSize" : 500,
      "path" : "/SHARE/video_archive",
      "sizeLimit" : 877504,
      "sizeToCleanup" : 5120,
      "useArchive" : true,
      "webcamBitRate" : 4096,
      "webcamFrameRate" : 30,
      "webcamVideoFormat" : 1
   },
   "cameras" : [
      {
         "id" : 0,
         "mdExcludedZoneList" : [
            [ 6595, 0, 10000, 473 ]
         ],
         "mdSensitivity" : 80,
         "name" : "Street",
         "recordType" : "motion",
         "rtspTransport" : "auto",
         "urlHigh" : "rtsp://admin:PAssWORDe@192.168.100.11/axis-media/media.amp?streamprofile=Quality",
         "useCameraMotionDetector" : false,
         "useSound" : false
      },
      {
         "id" : 1,
         "mdExcludedZoneList" : [
            [ 7659, 31, 10000, 1041 ]
         ],
         "mdSensitivity" : 60,
         "name" : "Door",
         "recordType" : "motion",
         "rtspTransport" : "auto",
         "soundDetectorTreshold" : 50,
         "urlHigh" : "rtsp://door.videocamera01.loc:554/user=video&password=video&channel=1&stream=0.sdp",
         "useCameraMotionDetector" : false,
         "useSound" : true,
         "useSoundDetector" : true
      }
   ],
   "externalScheduleFile" : "/opt/ivideon/ivideon-server/schedule.json",
   "localView" : {
      "passwordHash" : "",
      "proxyPort" : 3101,
      "streamerPort" : 8080
   },
   "logging" : {
      "isTruncate" : false,
      "path" : "/dev/null",
      "rtspPath":"/dev/null"
   },
   "network" : {
      "ivideonProxyHost" : "proxy.ivideon.com"
   },
   "system" : {
      "cwd" : "/opt/ivideon/ivideon-server"
   }
}

